img{
   align-items: center;
   padding-top: 50px;
}

.links{
    text-decoration: none;
    border: 1px solid;
    padding: 12px 20px;
    border-radius: 7px;
    margin: 0 5px;
    background-color: #6366F1;
    color: white;
    /* font-size: 18px; */
    font-weight: bolder;
}

.links:hover{
    border: 2px solid #3c3ff6;
}

.link2{
    background-color: white;
    color: #6366F1;
}